<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>{{card.cardholder_name}} </h1>
    <h2>{{card.cardholder_number}}</h2>
    <h2>{{card.expiry_date}}</h2>
    <h2>{{card.date_issued}}</h2>
    <h3>{{card.CARD_TYPE_CHOICES }}</h3>

    <a href="{%url 'edit_card' id=card.id%}">Edit</a>
    
</body>
</html>