<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>{{transaction.transaction_amount}} </h1>
    <h2>{{transaction.transaction_charge}}</h2>
    <h2>{{transaction.transaction_account}}</h2>
    <h2>{{transaction.date_time }}</h2>
    <h3>{{transaction.receipt }}</h3>

    <a href="{%url 'edit_transaction' id=transaction.id%}">Edit</a>
    
</body>
</html>